@mixin gradient($from, $to) {
        background-color: $from;
        background-image: -moz-linear-gradient($from, $to);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
        background-image: -webkit-linear-gradient($from, $to);
        background-image: -o-linear-gradient($from, $to);
}


body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$black\".\A         on line 61 of /home/ubuntu/workspace/zbie/assets/css/functions.scss\A \A 56: }\A 57: \A 58: \A 59: // Black vertion \A 60: \A 61: $shadows: 0 2px 5px 0 rgba($black,.16), 0 2px 10px 0 rgba($black,.12);\A 62: $color-shadows: 0 2px 5px 0 rgba($black,.16), 0 2px 10px 0 rgba($black,.12);\A 63: $color-shadows-contact: 0 0px 2px 0 rgba($black,.16), 0 0px 2px 0 rgba($black,.12);\A 64: $color-shadows-contact-2x: 0 0px 2px 0 rgba($black,.4), 0 0px 1px 1px rgba($black,.04);\A 65: \A 66: // White vertion "; }
