@import "variable";
@import "functions";

// min 1200px
@media only screen and (min-width: 1200px) {}
// max1200
@media only screen and (max-width: 1200px) {
  .btn-project {
    margin-left: auto;
    margin-bottom: 35px;
    margin-left: 30px;
  }

  .res-portfolio .resume-item img {
    margin-left: auto;
  }

  .resume-home .resume-home-inner h2 {
    font-size: 70px;
  }

  .resume-home .resume-social ul li {
    margin-bottom: 10px;
  }

  .resume-feedback .resume-card-social .social-inner .social-details h5 {
    font-size: 22px;
  }

  .resume-home .shape-image {
    display: none;
  }
}
/* Max 1024px */
@media only screen and (max-width: 1024px) {}
/* Max 991px */
@media only screen and (max-width: 991px) {
  .section-separator {
    padding: 40px 0;
  }

  .navbar-toggler {
    background-color: #fff;
    margin-left: 15px;
    padding: 8px;
  }

  .mh-xs-mobile-nav {
    z-index: 99;

    .nav-btn {
      .navbar-toggler {
        &.active {
          display: none;
        }
      }
    }

    .navbar-nav {
      padding-top: 50px;
    }

    .navbar-collapse {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 320px;
      left: 0;
      z-index: 990;
      margin-top: 0;
      padding: 0;
      background-color: $main-color;
      transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -o-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -ms-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -moz-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -webkit-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      overflow-y: none;
    }

    .navbar-collapse.active {
      transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    }

    .collapse {
      display: block;
    }

    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
      max-height: inherit;
    }

    .navbar-header {
      position: fixed;
      z-index: 999;
      width: 100%;
      margin-top: 0;
      left: 0;
    }

    .navbar-toggler .icon {
      transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
      -o-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
      -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
      -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
    }

    .navbar-toggler .icon,
    .navbar-toggler .icon::after,
    .navbar-toggler .icon::before {
      width: 22px;
      height: 2px;
      position: absolute;
      border-radius: 2px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .navbar-toggler .icon::after,
    .navbar-toggler .icon::before {
      content: '';
      top: 0;
      right: 0;
      -webkit-transition: all 0.6s ease-out;
      -moz-transition: all 0.6s ease-out;
      -o-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
      transition: all 0.6s ease-out;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .navbar-toggler .icon::after {
      transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
      -o-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
      -ms-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
      -moz-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
      -webkit-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
    }

    .navbar-toggler .icon::before {
      transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
      -o-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
      -ms-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
      -moz-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
      -webkit-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
    }

    .navbar-toggler.active .icon::after {
      transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
      -o-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
      -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
      -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
      -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
    }

    .navbar-toggler.active .icon::before {
      transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
      -o-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
      -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
      -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
      -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
    }

    .navbar-toggler.active .icon::after,
    .navbar-toggler.active .icon::before {
      background-color: $white;
    }

    .navbar-toggler.active .icon {
      background-color: transparent;
    }

    .navbar-toggler:focus {
      outline: 0 !important;
    }

    .strict {
      background-color: rgba(0, 0, 0, 0.9);
      padding-bottom: 65px;
    }

    .navbar-toggler {
      padding: 15px;
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 30px;
      z-index: 1000;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: block;
    }

    .navbar-header .navbar-toggler .icon-bar {
      background-color: $main-color;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .navbar-header .navbar-toggler.active .icon-bar {
      background-color: $white;
    }
    /*-------------------------------*/
    /*            Overlay            */
    /*-------------------------------*/
    .overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 3;
    }

    .overlay.active {
      display: block;
    }
    /*  Navi */
    .navbar-collapse {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 320px;
      left: 0;
      z-index: 990;
      margin-top: 0;
      padding: 0;
      background-color: $main-color;
      transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -o-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -ms-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -moz-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -webkit-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      overflow-y: none;
    }

    .navbar-collapse .nav {
      margin-top: 75px;
      border-top: 1px solid;
      border-top-color: rgba(255, 255, 255, 0.1);
      padding: 20px;
    }

    .navbar-collapse .nav li {
      text-align: center;
      margin-bottom: 0;
      width: 100%;
      display: block;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate3d(-20px, -10px, 0);
    }

    .navbar-collapse .nav li a {
      background-color: transparent;
      text-transform: uppercase;
      font-size: 17px;
      line-height: 26px;
    }

    .navbar-collapse .nav li a:hover {
      color: white !important;
      background: transparent;
    }

    .navbar-collapse .nav li a.active {
      color: $white;
    }

    .navbar-collapse .nav li.active {
      color: $white;
    }

    .navbar-collapse.active {
      transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
      -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    }

    .collapse.in {
      background-color: rgba(0, 0, 0, 0.9);
    }

    .navbar-dark .navbar-toggler {
      border-color: transparent;
    }

    .navbar-dark .navbar-toggler-icon {
      background-image: inherit;
    }
  }

  .mh-home .mh-header-info {
    padding: 0;
  }

  .mh-header {
    padding: 10px 0;
    background: #07011e;
  }

  .navbar-toggler {
    background-color: $white;
    border: 1px solid $res-title-color;
  }

  .navbar-toggler-icon {
    font-size: 20px;
    line-height: 30px;
  }

  .home-padding {
    padding: 100px 0;
  }

  .mh-nav {
    padding: 10px 0 8px;
  }

  .res-about .res-about-inner {
    padding: 10px 0;
  }

  .mh-header.nav-strict .mh-nav {
    padding: 8px 0;
  }

  .resume-home .resume-inner h1 {
    font-size: 40px;
  }

  .navbar-nav {
    margin-top: 10px;
  }

  .res-about .res-about-inner h5 {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .res-about .res-about-inner h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .res-about .res-about-inner p {
    font-size: 14px;
    margin-bottom: 35px;
  }

  .res-about .res-about-img-inner {
    width: 130px;
    height: 130px;
    bottom: 10px;
    left: -30px;
  }

  .res-about .res-about-img-inner .inner-projects p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .res-about .res-about-img-inner .inner-projects h3 {
    font-size: 30px;
  }

  .mh-header .navbar-nav li {
    margin: 5px 8px;
  }

  #map {
    width: 400px;
    height: 400px;
  }
}
/* Min 991px */
@media only screen and (min-width: 992px) {}
/* Min 768px */
@media only screen and (min-width: 768px) {
  .Blanc_CTA {
    border-bottom: 1px solid #444444;
    border-top: 1px solid #444444;
    height: 40px;
    margin-bottom: 30px;
  }

  .CTA2 {
    border-bottom: 1px solid #444444;
    border-top: 1px solid #444444;
    height: 40px;
    margin-top: 30px;
  }
}
/* Max 768px */
@media only screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  .header-image {
    height: 100%;
    margin-top: 0;
  }

  .resume-home .resume-home-inner .span {
    margin: 0 auto;
  }

  .resume-home {
    padding: 120px 0 0;
  }

  .btn-sss::after,
  .btn-sss::before {
    left: 9px;
  }

  .resume-home .resume-main .resume-details {
    padding: 60px 0;
  }

  .resume-do-icon {
    text-align: center;
    margin-bottom: 30px;
  }

  .resume-portfolio {
    padding: 60px 0;
  }

  .resume-portfolio .resume-portfolio-inner {
    padding: 0;
  }

  .resume-title h1 {
    font-size: 50px;
  }

  .resume-feedback .pd_10 {
    padding-left: 0;
    margin-bottom: 90px;
  }

  .resume-feedback .advice_slider .owl-next {
    top: -10%;
    right: 35%;
    transform: translate(-50%, -50%);
  }

  .resume-feedback .advice_slider .owl-prev {
    top: -18%;
    right: 45%;
    transform: translate(-50%, 10px);
  }

  .mt_180 {
    margin-top: 75px;
  }

  .full_width .resume-full-overlay .full-title-inner h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .full_width .resume-full-overlay {
    padding: 40px 0;
  }

  .resume-img {
    margin-top: 75px;
  }

  .resume-feedback {
    padding: 0 0 50px;
  }

  .resume-contact {
    padding: 10px 0;
  }

  .resume-contact .resume-form {
    padding: 40px 45px;
  }

  .resume-contact .contact-details .contact-name {
    padding-top: 25px;
  }

  .resume-contact .contact-details {
    padding: 50px 0;
  }

  .resume-do .bg-title h1 {
    font-size: 100px;
  }

  .resume-feedback .resume-card-social .social-inner .social-img {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }

  .resume-feedback .resume-card-social .social-inner .social-details h5 {
    font-size: 16px;
    text-align: left;
  }

  .resume-feedback .advice_slider .advice_c h5,
  .resume-feedback .advice_slider .advice_c h6,
  .resume-feedback .advice_slider .advice_c p {
    text-align: left;
  }

  .resume-do .resume-do-inner p {
    margin-bottom: 40px;
    max-width: 100%;
  }

  .resume-title h5 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .resume-home .resume-main {
    padding: 80px 0 0;
  }

  .resume-home .resume-home-inner h2 {
    font-size: 50px;
  }

  .resume-home .resume-home-inner h4 {
    font-size: 24px;
  }

  .ev-home .ev-home-padding {
    padding: 50px 0;
  }

  .resume-contact .contact-details h2 {
    font-size: 40px;
  }

  .resume-feedback .advice_slider .advice_c {
    margin-bottom: 45px;
  }

  .res-about {
    padding: 100px 0 50px;
  }

  .res-about .res-about-inner h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .res-about .res-about-img {
    margin-top: 50px;
  }

  .res-about-title {
    padding: 50px 0;
  }

  .res-about-title .ab-title-inner .ab-title-icon .icon-inner {
    font-size: 65px;
    margin: 0 auto 20px;
  }

  .res-about-title .ab-title-inner p {
    font-size: 16px;
    max-width: 100%;
  }

  .ab-title-inner {
    margin-bottom: 20px;
  }

  .res-about-title .ab-title-inner {
    margin-bottom: 50px;
  }

  #map {
    width: 300px;
    height: 300px;
  }
}
/* Max 575px */
@media only screen and (max-width: 575px) {
  .mh-header {
    padding: 0 10px;
  }

  .section-separator {
    padding: 30px 0;
  }

  .resume-do .bg-title h1 {
    font-size: 60px;
  }

  .res-about .res-about-img-inner {
    left: 10px;
  }

  .res-about-title {
    padding: 30px 0 0;
  }

  .bg-title {
    margin-bottom: 30px;
  }

  .resume-contact .contact-details h2 {
    font-size: 36px;
  }

  .resume-contact .contact-details .contact-name h5 {
    font-size: 20px;
  }

  .resume-contact .contact-details .contact-name p {
    font-size: 16px;
  }

  .mh-header.nav-strict {
    padding: 8px 10px;
  }

  .text-left.text-xs-center {
    text-align: center !important;
  }

  .resume-home .resume-home-inner h4 {
    font-size: 16px;
  }

  .resume-home .resume-home-inner h2 {
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 40px;
  }

  .btn-sss::after,
  .btn-sss::before {
    display: none;
  }

  .resume-title h1 {
    font-size: 40px;
  }

  .resume-feedback .resume-card-social .main-social {
    display: inline-flex;

    .social-inner {
      margin-right: 40px;
    }
  }

  .resume-home .resume-main .main-inner .circle-bg {
    display: none;
  }

  .resume-home .resume-main .main-inner .bg-img {
    display: none;
  }

  .resume-home .resume-main .main-inner .img-cover img {
    margin-left: 0;
    position: relative;
    z-index: 1;
  }

  .m-none {
    display: none !important;
  }

  .resume-portfolio .resume-portfolio-inner .resume-img h5 {
    font-size: 20px;
  }

  .resume-portfolio .resume-portfolio-inner .resume-img h6 {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .resume-feedback .resume-card-social .social-inner .social-details h5 {
    font-size: 14px;
    margin-left: 5px;
    padding: 5px 0;
  }

  .resume-feedback .resume-card-social .social-inner .social-img {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .resume-feedback .resume-card-social .main-social .social-inner {
    margin-right: 10px;
  }

  .resume-contact .contact-details {
    padding: 0 0 50px;
  }

  .resume-home .resume-social {
    margin-top: 25px;
  }
}
/* Max 420px */
@media only screen and (max-width: 420px) {
  .resume-home {
    padding: 100px 0 0;
  }

  .resume-feedback .resume-card-social .social-inner .social-details h5 {
    font-size: 12px;
    margin-left: 3px;
    padding: 8px 0;
  }

  .resume-title h1 {
    font-size: 30px;
  }

  .resume-feedback .advice_slider {
    padding-left: 0;
  }

  .resume-feedback .advice_slider .advice_c .card-body {
    padding: 25px 15px;
  }

  .resume-feedback .advice_slider .advice_c h6 {
    font-size: 14px;
  }

  .resume-feedback .advice_slider .advice_c h5 {
    font-size: 14px;
  }

  .resume-feedback .advice_slider .owl-next {
    top: -10%;
    right: 25%;
    transform: translate(-50%, -50%);
  }

  .resume-feedback .advice_slider .advice_c p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .resume-feedback .advice_slider .owl-prev {
    top: -22%;
    right: 45%;
  }

  .resume-portfolio {
    padding: 40px 0;
  }

  .resume-img {
    margin-top: 45px;
  }

  .resume-feedback .advice_slider .advice_c {
    width: 380px;
    box-shadow: none;
  }

  .resume-home .resume-main {
    padding: 45px 0 0;
  }
}
/* Max 380px */
@media only screen and (max-width: 380px) {
  .resume-home .resume-home-inner h2 {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 34px;
  }

  .resume-feedback .advice_slider .advice_c {
    width: 350px;
  }
}
