* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* Defult */
html {
  background: #07011e;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Louis-George-Cafe.ttf";
  font-size: 14px;
  font-style: none;
  line-height: 24px;
  font-weight: 500;
  overflow-x: hidden !important;
  text-align: left;
  position: relative;
  color: #000000;
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Louis-George-Cafe-Bold.ttf";
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
section {
  overflow: hidden;
}
p {
  opacity: 0.9;
}

.nav li a {
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav li a:hover {
  background-color: transparent;
}

.nav li a:focus {
  background-color: transparent;
  outline: 0 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #000000;
  opacity: 0.9;
}

a:hover {
  background-color: transparent;
}

a:focus {
  background-color: transparent;
  outline: 0 !important;
}

.center {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.overflow {
  overflow: hidden;
}

.relative {
  position: relative;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.section-heading {
  display: block;
  margin: 0;
}

.section-header {
  margin-bottom: 100px;
  text-align: center;
}

.section-header .sub-heading {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.section-header.text-left,
.section-header.text-left * {
  text-align: left;
}

.section-header.text-right,
.section-header.text-right * {
  text-align: right;
}

.section-header-separator {
  position: relative;
  width: 145px;
  margin: 5px auto;
  display: inline-block;
}

.section-header-separator .icon {
  font-size: 48px;
  text-align: center !important;
}

.section-header-separator::before, .section-header-separator::after {
  content: '';
  position: absolute;
  width: 57px;
  height: 2px;
  top: 25px;
}

.section-header-separator::before {
  left: 0;
}

.section-header-separator::after {
  right: 0;
}

.v-middle {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mini-separator {
  padding: 20px 0;
}

.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.section-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}

.section-video .bgvid {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.body-video-bg > .section-video {
  position: fixed;
  top: 0;
  left: 0;
}

.section-title {
  text-align: center;
}

.section-title h3 {
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 60px;
}
/* section default */
.section-heading {
  display: block;
  margin: 0;
}

.section-header {
  margin-bottom: 100px;
  text-align: center;
}

.section-header .sub-heading {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.section-header.text-left,
.section-header.text-left * {
  text-align: left;
}

.section-header.text-right,
.section-header.text-right * {
  text-align: right;
}

.section-header-separator {
  position: relative;
  width: 145px;
  margin: 5px auto;
  display: inline-block;
}

.section-header-separator .icon {
  font-size: 48px;
  text-align: center !important;
}

.section-header-separator::before, .section-header-separator::after {
  content: '';
  position: absolute;
  width: 57px;
  height: 2px;
  top: 25px;
}

.section-header-separator::before {
  left: 0;
}

.section-header-separator::after {
  right: 0;
}

.v-middle {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mini-separator {
  padding: 20px 0;
}

.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
/* list */
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}
/* Half content */
.content-half {
  position: relative;
}

.container-half-left {
  left: 0;
  background-position: center right;
}

.container-half-right {
  right: 0;
  background-position: center left;
}

.vertical-middle-content {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/* all the background */
.bg-cover {
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
}

.dark-bg {
  background-color: #202026;
}

.image-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mini-section-separator {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-separator {
  padding-top: 60px;
  padding-bottom: 60px;
}

.home-section-separator {
  padding-top: 100px;
  padding-bottom: 200px;
}

.bg-black {
  background-color: #000000;
}

.main-color {
  color: #37C2CC;
}

.p-200 {
  padding: 0 200px;
}

.img-overlay {
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
}

.image-bg {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
}

.home-2-img {
  background-image: url(../images/home-bg-img.jpg);
}

.featured-img-one {
  background-image: url(../images/home-bg-img.jpg);
}

.featured-img-two {
  background-image: url(../images/extra-feature-bg.jpg);
}

.map-image {
  background-image: url(../images/map-color-overlay.png);
}

.mt-30 {
  margin-top: 30px;
}

button {
  outline: 0;
}

button:hover {
  outline: 0;
}

button:focus {
  outline: 0;
}

.btn {
  outline: 0;
}

.btn:hover {
  outline: 0;
}

.btn:focus {
  outline: 0;
}

.round-image {
  border-radius: 50%;
}

.header-bg {
  background-color: #FFEFE9;
}

.purple-bg {
  background-color: #643BDF;
}

.blue-bg {
  background-color: #007C88;
}

.yellow-color {
  color: #FFD032;
}

.main-color {
  color: #37C2CC;
}

.purple-color {
  color: #643BDF;
}

.blue-color {
  color: #007C88;
}

.bg-3 {
  color: #FAF9F7;
}

.bg-4 {
  color: #FAF9F7;
}

.white-bg {
  background-color: #ffffff;
}

p {
  color: #071634;
}

.contact-shadow {
  -webkit-box-shadow: 2px 28px 54px 0px rgba(85, 85, 93, 0.03);
  box-shadow: 2px 28px 54px 0px rgba(85, 85, 93, 0.03);
}

.body-2 .btn {
  border-radius: 50px;
}

.body-2 .btn.btn-stroke {
  color: #ffffff;
}

.color-1 {
  color: #37C2CC;
}

.color-2 {
  color: #F35D22;
}

.color-3 {
  color: #FEC468;
}

.color-4 {
  color: #1785C3;
}

.color-5 {
  color: #53CB94;
}

.color-6 {
  color: #761DE2;
}

.overlay-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

@font-face {
  font-family: "Louis-George-Cafe.ttf";
  src: url("../fonts/Louis-George-Cafe.ttf");
}

@font-face {
  font-family: "Louis-George-Cafe-Bold.ttf";
  src: url("../fonts/Louis-George-Cafe-Bold.ttf");
}

@font-face {
  font-family: "Louis-George-Cafe-Light.ttf";
  src: url("../fonts/Louis-George-Cafe-Light.ttf");
}

/* nav */
.mh-nav {
  width: 100%;
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mh-header {
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mh-header.nav-strict {
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #07011e;
}

.mh-header.nav-strict .mh-nav {
  padding: 0px 0px;
}

.mh-header.nav-strict .navbar-nav li a {
  color: #ffffff;
}

.mh-header .navbar-nav li {
  margin: 16px 8px;
}

.mh-header .navbar-nav li a {
  font-family: "Louis-George-Cafe-Bold.ttf";
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  padding: 0px 10px;
}

.mh-header .navbar-nav li a::after {
  content: "";
  display: block;
  border-bottom: solid 2px #ffffff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  opacity: 1;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.mh-header .navbar-nav li a:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.dropdown-toggle::after {
  position: relative;
  top: 1px;
  left: 5px;
}
/* home */
.resume-home {
  padding: 140px 0px;
}

.resume-home .resume-home-inner .span {
  width: 55px;
  height: 5px;
  background-color: #ffb74f;
  display: block;
}

.resume-home .resume-home-inner h2 {
  font-size: 80px;
  letter-spacing: -1.5px;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 30px;
}

.resume-home .resume-home-inner h4 {
  font-size: 30px;
  letter-spacing: -0.75px;
  color: #ffffff;
}

.resume-home .resume-home-inner h4 span {
  color: #ff4952;
}

.resume-home .resume-social {
  margin-top: 40px;
}

.resume-home .resume-social h6 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 25px;
}

.resume-home .resume-social ul li {
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  border: solid 1px #4a4a4a;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 20px;
  margin-right: 5px;
  font-family: "Louis-George-Cafe-Bold.ttf";
  color: #ffffff;
}

.resume-home .resume-social ul li:hover {
  -webkit-box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0.1);
  background-color: #ff4952;
  border: solid 1px transparent;
  color: #ffffff;
}

.resume-home .resume-main {
  padding: 170px 0px;
  padding-bottom: 0px;
}

.resume-home .resume-main .main-inner .img-cover img {
  margin-left: 75px;
  position: relative;
  z-index: 1;
}

.resume-home .resume-main .main-inner .bg-img {
  position: absolute;
  top: 110px;
  z-index: 0;
}

.resume-home .resume-main .main-inner .circle-bg {
  position: absolute;
  z-index: -2;
  top: -15%;
  left: -20%;
}

.resume-home .resume-main .resume-details {
  padding: 160px 0px;
}

.resume-home .resume-main .resume-details p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  margin-bottom: 50px;
}

.resume-home .shape-image {
  position: absolute;
  top: 9%;
  left: -22%;
}
.resume-do .resume-do-inner {
  padding-bottom: 50px;
}

.resume-do .resume-do-inner p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  margin-bottom: 55px;
  max-width: 85%;
}

.resume-do .resume-do-inner .resume-do-icon h5 {
  margin-top: 20px;
  font-size: 25px;
  letter-spacing: -0.63px;
  color: #ffffff;
}

.resume-do .bg-title h1 {
  font-size: 130px;
  line-height: 0.87;
  letter-spacing: -6.47px;
  color: rgba(255, 255, 255, 0.2);
}
 /* Portfolio area */
 .resume-portfolio {
   padding: 100px 0px;
 }

 .resume-portfolio .resume-portfolio-inner {
   padding: 80px 0px;
   padding-bottom: 0px;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .reveal-image {
   opacity: 0;
   -webkit-transition: all 1s;
   transition: all 1s;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img h5 {
   font-size: 25px;
   letter-spacing: -0.63px;
   color: #ffffff;
   margin-bottom: 10px;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img h6 {
   opacity: 0.4;
   font-size: 18px;
   line-height: 1.11;
   letter-spacing: -0.25px;
   color: #ffffff;
   margin-bottom: 35px;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .resume-btn-details {
   -webkit-transition: all .4s;
   transition: all .4s;
   position: absolute;
   height: 100%;
   width: 100%;
   display: -ms-grid;
   display: grid;
   place-items: center;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   -webkit-transform: translateY(30px);
           transform: translateY(30px);
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .resume-btn-details .resume-btn {
   -webkit-transition: all .3s;
   transition: all .3s;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .resume-btn-details .resume-btn .btn-default a.cta::before {
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-right: 1px solid transparent;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .resume-btn-details .resume-btn .btn-default a.cta:hover::before {
   border: 1px solid rgba(255, 73, 82, 0.6);
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .resume-image-inner {
   -webkit-transition: all .4s;
   transition: all .4s;
   position: absolute;
   height: 100%;
   width: 98%;
   top: 0;
   opacity: 0;
   bottom: 0;
   right: 0;
   left: 0;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .resume-image-inner::before {
   content: '';
   background-color: rgba(0, 0, 0, 0.6);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0px;
   bottom: 0;
   right: 0;
   left: 0px;
   border-radius: 0px;
   -webkit-transition: all .4s;
   transition: all .4s;
   pointer-events: none;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .image-one {
   cursor: pointer;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .image-one:hover .resume-image-inner {
   opacity: 1;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .image-one:hover .resume-btn-details {
   opacity: 1;
   -webkit-transform: translateY(0px);
           transform: translateY(0px);
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .image-two {
   cursor: pointer;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .image-two:hover .resume-image-inner {
   opacity: 1;
 }

 .resume-portfolio .resume-portfolio-inner .resume-img .image-two:hover .resume-btn-details {
   opacity: 1;
   -webkit-transform: translateY(0px);
           transform: translateY(0px);
 }

 .resume-portfolio .resume-portfolio-inner.inner-2 {
   padding: 80px 0px;
   padding-top: 0px;
   padding-bottom: 80px;
 }

 .mt_180 {
   margin-top: 180px;
 }

/* Footer */
footer {
  padding-top: 4px;
    padding-bottom: 4px;
    background: rgba(255, 255, 255, 0.02);
}

footer .logo:hover {
  opacity: 0.6;
}

footer .links a {
  display: inline-block;
  margin: 0 18px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  color: #959595;
  border-bottom: 2px solid transparent;
}

footer .links a:hover, footer .links a.active {
  border-color: #fff;
}

footer .links a:first-of-type {
  margin-left: 0;
}

footer .links a:last-of-type {
  margin-right: 0;
}

footer .copyright {
      color: #5f5f5f;
      font-size: 16px;
      line-height: 26px;
}

@media (max-width: 991.98px) {
  footer {
    padding-top: 30px;
  }

  footer .links {
    margin: 20px 0;
  }

  footer .links a:first-of-type {
    margin-left: 18px;
  }

  footer .links a:last-of-type {
    margin-right: 18px;
  }
}
/* RESUME FEEDBACK AREA */
.resume-feedback {
  padding: 80px 0px;
  padding-top: 0px;
}

.resume-feedback .pd_10 {
  margin-bottom: 50px;
}

.resume-feedback .advice_slider .advice_c {
  width: 530px;
  border-radius: 8px;
  -webkit-box-shadow: 0 66px 58px 0 rgba(99, 99, 99, 0.1);
          box-shadow: 0 66px 58px 0 rgba(99, 99, 99, 0.1);
  background-color: #252039;
  margin-bottom: 100px;
  margin-left: 5px;
  border: 0px;
}

.resume-feedback .advice_slider .advice_c .card-body {
  padding: 40px 35px 40px 35px;
}

.resume-feedback .advice_slider .advice_c .card-body .img {
  margin-bottom: 15px;
}

.resume-feedback .advice_slider .advice_c p {
  font-family: "Louis-George-Cafe-Bold.ttf";
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 35px;
}

.resume-feedback .advice_slider .advice_c h5 {
  font-family: "Louis-George-Cafe-Bold.ttf";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.22px;
  color: #ffffff;
  margin-bottom: 6px;
}

.resume-feedback .advice_slider .advice_c h6 {
  opacity: 0.5;
  font-family: "Louis-George-Cafe.ttf";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.22px;
  color: #ffffff;
}

.resume-feedback .advice_slider .card_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.resume-feedback .advice_slider .card_icon .card-icon-details {
  margin-left: 15px;
}

.resume-feedback .advice_slider .card_icon .card-icon-details ul li {
  font-size: 20px;
  padding: 19px 0px;
  display: inline-block;
  color: #ffbb00;
}

.resume-feedback .advice_slider .owl-next {
  width: 55px;
  height: 55px;
  position: absolute;
  top: -25%;
  right: 30px;
  border: solid 2px transparent;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 18px;
  background: transparent;
  color: #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.resume-feedback .advice_slider .owl-next:hover {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.resume-feedback .advice_slider .owl-prev {
  opacity: 0;
  width: 55px;
  height: 55px;
  position: absolute;
  top: -25%;
  right: 90px;
  border: solid 2px transparent;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 18px;
  background: transparent;
  color: #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.resume-feedback .advice_slider .owl-prev:hover {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.resume-feedback .advice_slider .op_1 {
  opacity: 1 !important;
}

.resume-feedback .resume-card-social .main-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.resume-feedback .resume-card-social .main-social .social-inner {
  margin-right: 40px;
}

.resume-feedback .resume-card-social .social-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume-feedback .resume-card-social .social-inner .social-img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 30px;
  background-color: #ea4c89;
  -webkit-transition: all .22s;
  transition: all .22s;
  cursor: pointer;
}

.resume-feedback .resume-card-social .social-inner .social-img.color-2 {
  background-color: #0067ff;
}

.resume-feedback .resume-card-social .social-inner .social-img.color-3 {
  background-color: #0177ac;
}

.resume-feedback .resume-card-social .social-inner .social-img:hover {
  -webkit-box-shadow: 0 10px 37px -5px rgba(234, 76, 137, 0.5);
          box-shadow: 0 10px 37px -5px rgba(234, 76, 137, 0.5);
}

.resume-feedback .resume-card-social .social-inner .social-img:hover.color-2 {
  -webkit-box-shadow: 0 10px 37px -5px rgba(0, 103, 255, 0.5);
          box-shadow: 0 10px 37px -5px rgba(0, 103, 255, 0.5);
}

.resume-feedback .resume-card-social .social-inner .social-img:hover.color-3 {
  -webkit-box-shadow: 0 10px 37px -5px rgba(1, 119, 172, 0.5);
          box-shadow: 0 10px 37px -5px rgba(1, 119, 172, 0.5);
}

.resume-feedback .resume-card-social .social-inner .social-details h5 {
  font-family: "Louis-George-Cafe-Bold.ttf";
  font-size: 25px;
  letter-spacing: -0.63px;
  color: #ffffff;
  padding: 18px 0px;
  margin-left: 20px;
}
 /* CONTACT ME AREA */
 .resume-contact {
   padding: 80px 0px;
 }

 .resume-contact .contact-details {
   padding: 60px 0px;
 }

 .resume-contact .contact-details h2 {
   font-size: 60px;
   letter-spacing: -1.5px;
   color: #ffffff;
 }

 .resume-contact .contact-details .contact-name {
   padding-top: 40px;
 }

 .resume-contact .contact-details .contact-name h5 {
   font-size: 25px;
   font-weight: 600;
   letter-spacing: -0.63px;
   color: #ffffff;
   margin-bottom: 10px;
 }

 .resume-contact .contact-details .contact-name p {
   font-family: "Louis-George-Cafe-Bold.ttf";
   opacity: 0.4;
   font-size: 18px;
   line-height: 1.41;
   letter-spacing: 0.25px;
   color: #ffffff;
   margin-bottom: 0px;
 }

 .resume-contact .resume-form {
   padding: 65px 90px;
   -webkit-box-shadow: 0 66px 58px 0 rgba(99, 99, 99, 0.1);
           box-shadow: 0 66px 58px 0 rgba(99, 99, 99, 0.1);
   background-color: #252039;
   text-align: center;
 }

 .resume-contact .resume-form .form-group {
   margin-bottom: 40px;
 }

 .resume-contact .resume-form .form-group .contact-name {
   font-family: "Louis-George-Cafe-Bold.ttf";
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
   height: 52px;
   border: 0px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 0px;
   padding: 0px;
   background: transparent;
 }

 .resume-contact .resume-form .form-group .contact-message {
   font-family: "Louis-George-Cafe-Bold.ttf";
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
   border: 0px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 0px;
   padding: 0px;
   background: transparent;
 }

 .resume-contact .resume-form .resume-btn {
   margin: 0 auto;
   margin-top: 30px;
   text-align: center;
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   cursor: pointer;
 }

 .resume-contact .resume-form .resume-btn h6 {
   background: #252039;
 }

 .resume-title h5 {
   font-size: 20px;
   line-height: 2.25;
   color: #ff4952;
   margin-bottom: 10px;
 }

 .resume-title h1 {
   font-size: 60px;
   letter-spacing: -1.5px;
   color: #ffffff;
   margin-bottom: 20px;
 }

 .btn-default a {
   text-decoration: none;
   color: inherit;
   font-family: "Louis-George-Cafe-Bold.ttf";
 }

 .btn-default a.cta {
   position: relative;
   margin: auto;
   padding: 19px 22px;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
 }

 .btn-default a.cta:hover::before {
   width: 108%;
   background: #ff4952;
 }

 .btn-default a.cta:hover svg {
   -webkit-transform: translateX(0);
           transform: translateX(0);
 }

 .btn-default a.cta::before {
   content: "";
   position: absolute;
   top: 0;
   left: -10px;
   display: block;
   border-radius: 30px;
   background: rgba(255, 73, 82, 0);
   border: 1px solid rgba(255, 73, 82, 0.6);
   border-right: 1px solid transparent;
   width: 60px;
   height: 60px;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
 }

 .btn-default a.cta span {
   position: relative;
   font-size: 18px;
   line-height: 0.56;
   font-weight: 900;
   vertical-align: middle;
   color: #ffffff;
 }

 .btn-default a.cta svg {
   position: relative;
   top: 4px;
   margin-left: 10px;
   fill: none;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke: #ffffff;
   stroke-width: 2;
   -webkit-transform: translateX(-5px);
           transform: translateX(-5px);
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
 }

 .btn-default a.cta:active {
   -webkit-transform: scale(0.96);
           transform: scale(0.96);
 }
 /* Slider area */
 .res-slider {
   margin-top: 80px;
 }

 .res-slider .slider-inner img {
   padding-right: 100px;
 }
 /* Contact area */
 .Custom_contact .form-control {
   border: 0px;
   border-radius: 0px;
   font-size: 16px;
   color: #071634;
   height: 48px;
   border-bottom: 1px solid rgba(10, 31, 72, 0.15);
   margin-top: 30px;
 }

 .Custom_contact textarea {
   height: auto !important;
 }

 .Custom_contact p {
   opacity: 0.6;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: normal;
   color: #071634;
   margin-top: 40px;
 }

 .form-control:focus {
   outline: none !important;
   border-bottom: 1px solid rgba(10, 31, 72, 0.15);
   background-image: none !important;
   -webkit-box-shadow: none !important;
           box-shadow: none !important;
 }

 .btn-sss {
   color: #ffffff;
   position: relative;
   margin: 0 auto;
   font-family: "Louis-George-Cafe-Bold.ttf";
 }

 .btn-sss::after {
   content: attr(data-text);
   position: absolute;
   left: 2px;
   text-shadow: -1px 0 red;
   top: 0;
   color: #ffffff;
   background: rgba(0, 0, 0, 0);
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-anim 2s infinite linear alternate-reverse;
 }

 .btn-sss::before {
   content: attr(data-text);
   position: absolute;
   left: 2px;
   text-shadow: -1px 0 blue;
   top: 0;
   color: #ffffff;
   background: rgba(0, 0, 0, 0);
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-anim-2 3s infinite linear alternate-reverse;
 }

 @-webkit-keyframes noise-anim {
   0% {
     clip: rect(9px, 9999px, 47px, 0);
   }
   5% {
     clip: rect(39px, 9999px, 50px, 0);
   }
   10% {
     clip: rect(46px, 9999px, 73px, 0);
   }
   15% {
     clip: rect(75px, 9999px, 26px, 0);
   }
   20% {
     clip: rect(30px, 9999px, 52px, 0);
   }
   25% {
     clip: rect(47px, 9999px, 90px, 0);
   }
   30% {
     clip: rect(11px, 9999px, 14px, 0);
   }
   35% {
     clip: rect(55px, 9999px, 47px, 0);
   }
   40% {
     clip: rect(83px, 9999px, 76px, 0);
   }
   45% {
     clip: rect(68px, 9999px, 25px, 0);
   }
   50% {
     clip: rect(39px, 9999px, 91px, 0);
   }
   55% {
     clip: rect(46px, 9999px, 85px, 0);
   }
   60% {
     clip: rect(86px, 9999px, 15px, 0);
   }
   65% {
     clip: rect(92px, 9999px, 14px, 0);
   }
   70% {
     clip: rect(15px, 9999px, 64px, 0);
   }
   75% {
     clip: rect(15px, 9999px, 34px, 0);
   }
   80% {
     clip: rect(43px, 9999px, 49px, 0);
   }
   85% {
     clip: rect(77px, 9999px, 29px, 0);
   }
   90% {
     clip: rect(14px, 9999px, 25px, 0);
   }
   95% {
     clip: rect(91px, 9999px, 11px, 0);
   }
   100% {
     clip: rect(49px, 9999px, 3px, 0);
   }
 }

 @keyframes noise-anim {
   0% {
     clip: rect(9px, 9999px, 47px, 0);
   }
   5% {
     clip: rect(39px, 9999px, 50px, 0);
   }
   10% {
     clip: rect(46px, 9999px, 73px, 0);
   }
   15% {
     clip: rect(75px, 9999px, 26px, 0);
   }
   20% {
     clip: rect(30px, 9999px, 52px, 0);
   }
   25% {
     clip: rect(47px, 9999px, 90px, 0);
   }
   30% {
     clip: rect(11px, 9999px, 14px, 0);
   }
   35% {
     clip: rect(55px, 9999px, 47px, 0);
   }
   40% {
     clip: rect(83px, 9999px, 76px, 0);
   }
   45% {
     clip: rect(68px, 9999px, 25px, 0);
   }
   50% {
     clip: rect(39px, 9999px, 91px, 0);
   }
   55% {
     clip: rect(46px, 9999px, 85px, 0);
   }
   60% {
     clip: rect(86px, 9999px, 15px, 0);
   }
   65% {
     clip: rect(92px, 9999px, 14px, 0);
   }
   70% {
     clip: rect(15px, 9999px, 64px, 0);
   }
   75% {
     clip: rect(15px, 9999px, 34px, 0);
   }
   80% {
     clip: rect(43px, 9999px, 49px, 0);
   }
   85% {
     clip: rect(77px, 9999px, 29px, 0);
   }
   90% {
     clip: rect(14px, 9999px, 25px, 0);
   }
   95% {
     clip: rect(91px, 9999px, 11px, 0);
   }
   100% {
     clip: rect(49px, 9999px, 3px, 0);
   }
 }

 @-webkit-keyframes noise-anim-2 {
   0% {
     clip: rect(71px, 9999px, 11px, 0);
   }
   5% {
     clip: rect(6px, 9999px, 14px, 0);
   }
   10% {
     clip: rect(88px, 9999px, 100px, 0);
   }
   15% {
     clip: rect(94px, 9999px, 42px, 0);
   }
   20% {
     clip: rect(53px, 9999px, 41px, 0);
   }
   25% {
     clip: rect(51px, 9999px, 53px, 0);
   }
   30% {
     clip: rect(72px, 9999px, 69px, 0);
   }
   35% {
     clip: rect(73px, 9999px, 90px, 0);
   }
   40% {
     clip: rect(13px, 9999px, 33px, 0);
   }
   45% {
     clip: rect(1px, 9999px, 35px, 0);
   }
   50% {
     clip: rect(49px, 9999px, 79px, 0);
   }
   55% {
     clip: rect(75px, 9999px, 63px, 0);
   }
   60% {
     clip: rect(81px, 9999px, 77px, 0);
   }
   65% {
     clip: rect(98px, 9999px, 40px, 0);
   }
   70% {
     clip: rect(89px, 9999px, 57px, 0);
   }
   75% {
     clip: rect(17px, 9999px, 94px, 0);
   }
   80% {
     clip: rect(30px, 9999px, 4px, 0);
   }
   85% {
     clip: rect(42px, 9999px, 2px, 0);
   }
   90% {
     clip: rect(93px, 9999px, 14px, 0);
   }
   95% {
     clip: rect(46px, 9999px, 92px, 0);
   }
   100% {
     clip: rect(12px, 9999px, 46px, 0);
   }
 }

 @keyframes noise-anim-2 {
   0% {
     clip: rect(71px, 9999px, 11px, 0);
   }
   5% {
     clip: rect(6px, 9999px, 14px, 0);
   }
   10% {
     clip: rect(88px, 9999px, 100px, 0);
   }
   15% {
     clip: rect(94px, 9999px, 42px, 0);
   }
   20% {
     clip: rect(53px, 9999px, 41px, 0);
   }
   25% {
     clip: rect(51px, 9999px, 53px, 0);
   }
   30% {
     clip: rect(72px, 9999px, 69px, 0);
   }
   35% {
     clip: rect(73px, 9999px, 90px, 0);
   }
   40% {
     clip: rect(13px, 9999px, 33px, 0);
   }
   45% {
     clip: rect(1px, 9999px, 35px, 0);
   }
   50% {
     clip: rect(49px, 9999px, 79px, 0);
   }
   55% {
     clip: rect(75px, 9999px, 63px, 0);
   }
   60% {
     clip: rect(81px, 9999px, 77px, 0);
   }
   65% {
     clip: rect(98px, 9999px, 40px, 0);
   }
   70% {
     clip: rect(89px, 9999px, 57px, 0);
   }
   75% {
     clip: rect(17px, 9999px, 94px, 0);
   }
   80% {
     clip: rect(30px, 9999px, 4px, 0);
   }
   85% {
     clip: rect(42px, 9999px, 2px, 0);
   }
   90% {
     clip: rect(93px, 9999px, 14px, 0);
   }
   95% {
     clip: rect(46px, 9999px, 92px, 0);
   }
   100% {
     clip: rect(12px, 9999px, 46px, 0);
   }
 }

 .reveal {
   position: relative;
   width: 98%;
   opacity: 1 !important;
   -webkit-transition: opacity 1s;
   transition: opacity 1s;
 }

 .reveal::before {
   content: '';
   background: #07011e;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   -webkit-transform: scaleX(0);
           transform: scaleX(0);
   -webkit-transform-origin: 0% 0% 0px;
           transform-origin: 0% 0% 0px;
   -webkit-animation: reveal 1s 0s ease-in-out forwards;
           animation: reveal 1s 0s ease-in-out forwards;
   z-index: 99;
 }

 .reveal::after {
   content: '';
   background: #ff4952;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   -webkit-transform: scaleX(0);
           transform: scaleX(0);
   -webkit-transform-origin: 0% 0% 0px;
           transform-origin: 0% 0% 0px;
   -webkit-animation: reveal 1s .5s ease-in-out forwards;
           animation: reveal 1s .5s ease-in-out forwards;
   z-index: 99;
 }

 @-webkit-keyframes reveal {
   0% {
     -webkit-transform: scaleX(0);
             transform: scaleX(0);
   }
   50% {
     -webkit-transform: scaleX(1);
             transform: scaleX(1);
     -webkit-transform-origin: 0% 0% 0px;
             transform-origin: 0% 0% 0px;
   }
   51% {
     -webkit-transform-origin: 100% 50% 0px;
             transform-origin: 100% 50% 0px;
   }
   100% {
     -webkit-transform: scaleX(0);
             transform: scaleX(0);
     -webkit-transform-origin: 100% 50% 0px;
             transform-origin: 100% 50% 0px;
   }
 }

 @keyframes reveal {
   0% {
     -webkit-transform: scaleX(0);
             transform: scaleX(0);
   }
   50% {
     -webkit-transform: scaleX(1);
             transform: scaleX(1);
     -webkit-transform-origin: 0% 0% 0px;
             transform-origin: 0% 0% 0px;
   }
   51% {
     -webkit-transform-origin: 100% 50% 0px;
             transform-origin: 100% 50% 0px;
   }
   100% {
     -webkit-transform: scaleX(0);
             transform: scaleX(0);
     -webkit-transform-origin: 100% 50% 0px;
             transform-origin: 100% 50% 0px;
   }
 }
/* ABOUT ME PAGE */
.res-about {
  padding: 150px 0px;
  padding-bottom: 80px;
}

.res-about .res-about-img {
  position: relative;
}

.res-about .res-about-img-inner {
  position: absolute;
  width: 155px;
  height: 155px;
  background: #ffffff;
  bottom: 20px;
  left: -60px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.res-about .res-about-img-inner .inner-projects {
  position: relative;
}

.res-about .res-about-img-inner .inner-projects p {
  text-transform: uppercase;
  color: #07011e;
  font-size: 18px;
  margin-bottom: 8px;
}

.res-about .res-about-img-inner .inner-projects h3 {
  color: #07011e;
  font-size: 36px;
}

.res-about .res-about-inner {
  padding: 75px 0px;
  position: relative;
}

.res-about .res-about-inner h5 {
  font-size: 20px;
  line-height: 2.25;
  color: #ff4952;
  margin-bottom: 10px;
}

.res-about .res-about-inner h1 {
  font-size: 60px;
  letter-spacing: -1.5px;
  color: #ffffff;
  margin-bottom: 20px;
}

.res-about .res-about-inner p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  margin-bottom: 50px;
  max-width: 95%;
}

.res-about-title {
  padding: 100px 0px;
}

.res-about-title .heading-title {
  color: #ffffff;
  font-size: 120px;
  white-space: nowrap;
  margin-bottom: 70px;
  margin-top: -50px;
  opacity: .5;
}

.res-about-title .ab-title-inner .ab-title-icon {
  position: relative;
}

.res-about-title .ab-title-inner .ab-title-icon .icon-inner {
  width: 85px;
  height: 85px;
  margin-bottom: 34px;
}

.res-about-title .ab-title-inner .ab-title-icon span {
  font-family: "Louis-George-Cafe-Bold.ttf";
  position: absolute;
  font-size: 110px;
  color: rgba(255, 255, 255, 0.07);
  top: 15px;
  left: 25%;
}

.res-about-title .ab-title-inner h4 {
  color: #ffffff;
  font-size: 25px;
  letter-spacing: -0.63px;
  margin-bottom: 14px;
}

.res-about-title .ab-title-inner p {
  opacity: 0.6;
  font-size: 18px;
  color: #ffffff;
  max-width: 75%;
  line-height: 1.7;
  letter-spacing: -0.25px;
}

.full_width {
  margin-bottom: 70px;
}

.full_width .resume-full-overlay {
  padding: 120px 0px;
  text-align: center;
  background: rgba(7, 1, 30, 0.5);
}

.full_width .resume-full-overlay .full-title-inner h1 {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 40px;
}

/* Google map */
#map{
  width:100%;
  height:100%;
}
