.portfolio-home {
  background: black;
  padding: 150px 0px;
  padding-bottom: 0px;
}

.portfolio-home .portfolio-title {
  text-align: center;
}

.portfolio-home .portfolio-title h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.28;
  letter-spacing: -1.25px;
  margin-bottom: 20px;
}

.portfolio-home .portfolio-title p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.88;
  color: #f1f1f1;
}
.portfolio-home .portfolio-box {
  padding: 100px 0px;
  padding-bottom: 60px;
}

.portfolio-home .portfolio-box .box-main {
  margin-bottom: 50px;
}

.portfolio-home .portfolio-box .box-inner {
  background-color: #ececee;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.portfolio-home .portfolio-box .box-inner img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.portfolio-home .portfolio-box .box-inner .box_hover {
  padding: 30px;
  color: #fff;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.portfolio-home .portfolio-box .box-inner .box_hover::before {
  content: '';
  background-color: #0a1f48;
  opacity: .7;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  pointer-events: none;
}

.portfolio-home .portfolio-box .box-inner .box_hover .link_portfolio {
  display: block;
  float: left;
  height: 21px;
  width: 21px;
  position: relative;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.portfolio-home .portfolio-box .box-inner .box_hover .link_portfolio::before {
  height: 2px;
  width: 100%;
  top: 0;
  bottom: 0;
  content: '';
  background-color: #fff;
  margin: auto;
  position: absolute;
}

.portfolio-home .portfolio-box .box-inner .box_hover .link_portfolio::after {
  content: '';
  background-color: #fff;
  margin: auto;
  position: absolute;
  height: 100%;
  width: 2px;
  left: 0;
  right: 0;
}

.portfolio-home .portfolio-box .box-inner .box_hover .heading__portfolio {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
}

.portfolio-home .portfolio-box .box-inner .box_hover .heading__portfolio h5 a {
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
}

.portfolio-home .portfolio-box .box-inner .box_hover .heading__portfolio span {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.portfolio-home .portfolio-box .box-inner:hover .box_hover {
  opacity: 1;
}

.portfolio-home .portfolio-box .box-inner:hover .box_hover .link_portfolio {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.portfolio-home .portfolio-box .box-inner:hover .box_hover .heading__portfolio {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.portfolio-home .portfolio-box .box-inner:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio-home .portfolio-box .load-btn {
  text-align: center;
}

.portfolio-home .portfolio-box .load-btn .load-icon {
  margin-top: 30px;
}

.portfolio-home .portfolio-box .load-btn .load-icon span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 auto;
  border: 2px solid #0a1f48;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  color: #0a1f48;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio-home .portfolio-box .load-btn .load-icon span:hover {
  background: #0a1f48;
  color: #ffffff;
}

.portfolio-home .portfolio-box .load-btn .load-icon p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #0a1f48;
  cursor: pointer;
}

.project-img {
  margin-top: 60px;
}

.project-description {
  padding: 60px 30px;
}

.project-description .des-inner h3 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.63px;
  color: #ffffff;
  margin-bottom: 40px;
}

.project-description .des-inner p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  margin-bottom: 20px;
}

.project-description ul {
  margin-top: 25px;
}

.project-description ul li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: .7;
}

.project-description ul li:nth-child(1) {
  font-weight: bold;
  opacity: 1;
}

.project-description ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.project-description ul li a:hover {
  text-decoration: underline;
  color: #37C2CC;
}

.project-description ul li ul li {
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.project-description ul li ul li:nth-child(1) {
  background: transparent;
}

.project-description ul li ul li:nth-child(1):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e74e89), to(#c12562)), -webkit-gradient(linear, left top, left bottom, from(#f93f2d), to(#f93f2d));
  background: linear-gradient(to bottom, #e74e89, #c12562), linear-gradient(to bottom, #f93f2d, #f93f2d);
  color: #ffffff;
  border: 1px solid transparent;
}

.project-description ul li ul li:nth-child(2) {
  background: transparent;
}

.project-description ul li ul li:nth-child(2):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#39579a), to(#2c4479)), -webkit-gradient(linear, left top, left bottom, from(#39579a), to(#39579a));
  background: linear-gradient(to bottom, #39579a, #2c4479), linear-gradient(to bottom, #39579a, #39579a);
  color: #ffffff;
  border: 1px solid transparent;
}

.project-description ul li ul li:nth-child(3) {
  background: transparent;
}

.project-description ul li ul li:nth-child(3):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#059ff5), to(#048ad0)), -webkit-gradient(linear, left top, left bottom, from(#059ff5), to(#059ff5));
  background: linear-gradient(to bottom, #059ff5, #048ad0), linear-gradient(to bottom, #059ff5, #059ff5);
  color: #ffffff;
  border: 1px solid transparent;
}

.blog-content .Blog_img {
  margin-bottom: 60px;
}

.blog-content .Blog_img .width-full {
  width: 100%;
  height: 500px;
}

.blog-content .blog-content-inner .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.no_hover:hover {
  color: #031D3C !important;
}

.blog-item {
  margin-bottom: 60px;
}

.blog-item img {
  margin-bottom: 20px;
}

.blog-item .full_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.blog-item .blog-item-content {
  padding-right: 10%;
}

.blog-item .span {
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.7;
}

.blog-item .bl-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ff4952;
  line-height: 1.25;
  letter-spacing: -0.27px;
  opacity: 1;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: 2px;
}

.blog-item h2 {
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: -0.41px;
  color: #ffffff;
  font-weight: bold;
  margin: 20px 0;
}

.blog-item p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.01px;
  color: #ffffff;
  opacity: .8;
  margin-bottom: 20px;
}

.blog-item .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-sidebar .custom_form .form-control {
  background: #07011e;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.blog-sidebar .custom_form .form-control:focus {
  border-bottom: 1px solid #80bdff !important;
}

.blog-sidebar .sidebar-item {
  margin-bottom: 30px;
}

.blog-sidebar .sidebar-item.popular-posts ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 90px;
}

.blog-sidebar .sidebar-item.popular-posts ul li img {
  width: 80px;
  position: absolute;
  left: 0;
  top: 6px;
  border-radius: 5px;
}

.blog-sidebar .sidebar-item.popular-posts ul li span {
  float: left;
  opacity: 0.7;
}

.blog-sidebar .sidebar-item.popular-tags ul li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.blog-sidebar .sidebar-item.popular-tags ul li a {
  padding: 4px 10px;
}

.blog-sidebar .sidebar-item h4 {
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  font-weight: normal;
  margin: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.blog-sidebar .sidebar-item ul li {
  margin: 3px 0;
  overflow: hidden;
  display: block;
  border-radius: 10px;
  color: #ffffff;
}

.blog-sidebar .sidebar-item ul li a {
  color: #ffffff;
}

.blog-sidebar .sidebar-item ul li span {
  float: right;
}

.blog-sidebar .sidebar-item ul li h2 {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.7;
  font-weight: normal;
  margin-bottom: 3px;
}

.form-group .form-control {
  height: 52px;
}

.ag-blog-single-page {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ag-blog-single-page .ag-post-title h3 {
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.68px;
  color: #ffffff;
  margin-bottom: 50px;
}

.ag-blog-single-page .ag-post-title .ag-author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.ag-blog-single-page .ag-post-title .ag-author-info img {
  width: 50px;
  height: 50px;
}

.ag-blog-single-page .ag-post-title .ag-author-info h5 {
  padding: 15px 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.ag-blog-single-page .ag-post-title .ag-author-info h5 a {
  color: #ff4952;
  opacity: 1;
}

.ag-blog-single-page .ag-post-title .ag-author-info p {
  padding: 15px 0px;
  margin-left: 20px;
  margin-bottom: 0px;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.ag-blog-single-page .ag-post-title .ag-author-info .ag-social-share {
  text-align: right;
  margin-left: 40px;
  padding: 15px 0px;
}

.ag-blog-single-page .ag-post-title .ag-author-info .ag-social-share ul li {
  display: inline-block;
  margin: 0px 4px;
}

.ag-blog-single-page .ag-post-title .ag-author-info .ag-social-share ul li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  color: #ffffff;
  place-items: center;
  border: solid 1.4px rgba(255, 255, 255, 0.25);
}

.ag-blog-single-page .ag-blog-post-content .bl_img {
  margin-bottom: 50px;
}

.ag-blog-single-page .ag-blog-post-content .bl_details {
  padding: 60px 45px;
  border-radius: 15px;
  background-color: #252039;
  -webkit-box-shadow: 0 66px 58px 0 rgba(99, 99, 99, 0.1);
          box-shadow: 0 66px 58px 0 rgba(99, 99, 99, 0.1);
  margin-bottom: 50px;
}

.ag-blog-single-page .ag-blog-post-content .bl_details .bl_details_inner h4 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1.56;
  letter-spacing: -0.89px;
  color: #ffffff;
  margin-bottom: 0px;
  padding: 10px 0px;
}

.ag-blog-single-page .ag-blog-post-content .bl_details .inner_left {
  padding: 20px 0px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.ag-blog-single-page .ag-blog-post-content .bl_details .inner_left i {
  font-size: 100px;
  opacity: 0.45;
  color: #ffffff;
}

.ag-blog-single-page .ag-blog-post-content p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.01px;
  color: #ffffff;
  margin-bottom: 30px;
  opacity: .6;
}

.ag-blog-single-page .ag-blog-post-content h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.27px;
  color: #ffffff;
  margin-bottom: 20px;
}

.ag-blog-single-page .ag-tag {
  margin: 60px 0px;
}

.ag-blog-single-page .ag-tag .ag-tag-inner ul li {
  display: inline-block;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 8px 15px;
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  margin: 0px 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ag-blog-single-page .ag-tag .ag-tag-inner ul li:nth-child(1) {
  border: 0px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.27px;
  color: #ffffff;
  margin-left: 0px;
  opacity: 1;
}

.ag-blog-single-page .ag-tag .ag-tag-inner ul li:hover {
  color: #3A3CBC;
  opacity: 1;
}

.ag-blog-single-page .ag-tag .ag-tag-inner ul li:hover:nth-child(1) {
  color: #031D3C;
}

.ag-blog-single-page .ag-tag .ag-social-share {
  text-align: right;
  padding: 5px 0px;
}

.ag-blog-single-page .ag-tag .ag-social-share ul li {
  display: inline-block;
  margin: 0px 4px;
}

.ag-blog-single-page .ag-tag .ag-social-share ul li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #ffffff;
  border: solid 1.4px rgba(255, 255, 255, 0.25);
}

.ag-blog-single-page .ag-author {
  border-radius: 10px;
  background-color: #252039;
  -webkit-box-shadow: 0 66px 58px 0 rgba(99, 99, 99, 0.1);
          box-shadow: 0 66px 58px 0 rgba(99, 99, 99, 0.1);
  padding: 60px 40px;
  margin-bottom: 100px;
  margin-top: 40px;
}

.ag-blog-single-page .ag-author h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.04;
  letter-spacing: -0.33px;
  color: #ffffff;
  margin-bottom: 40px;
}

.ag-blog-single-page .ag-author .author-img {
  text-align: right;
}

.ag-blog-single-page .ag-author .author-details h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.27px;
  color: #ffffff;
  margin-bottom: 20px;
}

.ag-blog-single-page .ag-author .author-details h5 span {
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background: #07011e;
  padding: 10px 15px;
  border-radius: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.ag-blog-single-page .ag-author .author-details p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.01px;
  color: #ffffff;
  margin-bottom: 20px;
}

.ag-blog-single-page .ag-author .author-details .ag-social-share ul li {
  display: inline-block;
  margin: 0px 4px;
}

.ag-blog-single-page .ag-author .author-details .ag-social-share ul li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  color: #ffffff;
  place-items: center;
  border: solid 1.4px rgba(255, 255, 255, 0.4);
}
