//Background Color
$black-bg: #212027; // Text Color
$light-color: #FFFFFF; // Light Color
$dark-color: #282828;
// Dark Color
// Button Color
$button-color: #000031; // Background-color
$background-1: #111111;
$background-2: #242424;
$team-bg: #FAF9F7;
$header-bg: #FFEFE9;
$bg-4: #FAF9F7;
$tagline-color: #6D40e3;
$blue-color: #007C88;
$sblue-color: #4280DF;
$purple-color: #643BDF;
$dim-color: #bfbfbf;
$main-color-2-deep: #37C2CC;
$main-color-2-light: #fb834c; // Other Defult Color
$shadow-color: #000000; // Defult Broder Radius
$border-radius: 5px;
$black: #000000;
$bdb: #bdbdbd;
$black-bg: #202026;
$black-bg-light: #2e3037;
$black-bg-deep: #292b31;
$footer-bg: #2a2f36;
$white: #ffffff;
$main-color-1: #6D40e3;
$bg-2: #fafafa;
$bg-3: #f9f9f9;
$f-icon-bg: #383c43;
$main-color-deep: #37C2CC;
$main-color-light: #1238DC;
$main-color: #37C2CC;
$body-bg: #f6f6f6;
$circle-bg: #4c555b;
$form-bg: #313137;
$form-border: #494949;
$btn-color-2: #6227e7;
$sub-header-black: #757575;
$gradient-1: #85d9d2;
$balck-bg-deep: #000000;
$gradient-1: #85d06b;
$gradient-2: #9cce51;
$yellow-color: #FFD032;
$form-text: #221645;
$black-title: #031D3C;
$theme-color: #3A3CBC;
$theme-color-2: #005F55;
$v3-hover-color: #33bcc6; // Resume
$bg-main-color: #07011e;
$title-color: #111111;
$paragraph-color: #071634;
$heading-color: #0d2658;
$res-title-color: #0a1f48;
$sm-small-color: #ff4952;
